name: "Run Examples"

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      pyglotaran_branch:
        description: "pyglotaran branch/tag to run the examples against"
        required: true
        default: "main"
      pyglotaran_examples_branch:
        description: "pyglotaran-examples branch/tag to use"
        required: true
        default: "main"

jobs:
  create-example-list:
    name: Create Example List
    runs-on: ubuntu-latest
    outputs:
      example-list: ${{ steps.create-example-list.outputs.example-list }}
    steps:
      - name: Cloning pyglotaran-examples
        if: ${{ github.event.inputs.pyglotaran_examples_branch }} == ""
        uses: actions/checkout@v3
        with:
          path: pyglotaran-examples
      - name: Set example list output
        id: create-example-list
        uses: ./pyglotaran-examples
        with:
          example_name: set example list
          set_example_list: true

  run-examples:
    name: "Run Example: "
    runs-on: ubuntu-latest
    needs: [create-example-list]
    strategy:
      matrix:
        example_name: ${{fromJson(needs.create-example-list.outputs.example-list)}}
    steps:
      - uses: actions/checkout@v3
        with:
          repository: "glotaran/pyglotaran"
          # If not provided (push and pull_request event) it uses the default branch
          ref: ${{ github.event.inputs.pyglotaran_branch }}
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install pyglotaran
        run: |
          pip install wheel
          pip install .
      - name: Cloning pyglotaran-examples
        if: ${{ github.event.inputs.pyglotaran_examples_branch }} == ""
        uses: actions/checkout@v3
        with:
          path: pyglotaran-examples
      - id: example-run
        uses: ./pyglotaran-examples
        with:
          example_name: ${{ matrix.example_name }}
          examples_branch: ${{ github.event.inputs.pyglotaran_examples_branch }}

      - name: Upload Example Plots Artifact
        uses: actions/upload-artifact@v3
        with:
          name: example-results
          path: ${{ steps.example-run.outputs.plots-path }}

      - name: Upload Example Results
        uses: actions/upload-artifact@v3
        with:
          name: example-results
          path: ~/pyglotaran_examples_results

  compare-results:
    name: Compare Results
    runs-on: ubuntu-latest
    needs: [run-examples]
    steps:
      - name: Checkout compare results
        uses: actions/checkout@v3
        with:
          repository: "glotaran/pyglotaran-examples"
          ref: comparison-results
          path: comparison-results

      - name: Download result artifact
        uses: actions/download-artifact@v3
        with:
          name: example-results
          path: comparison-results-current

      - name: Show used versions for result creation
        run: |
          echo "::group:: ✔️ Compare-Results"
          echo "✔️ pyglotaran-examples commit: $(< comparison-results/example_commit_sha.txt)"
          echo "✔️ pyglotaran commit: $(< comparison-results/pyglotaran_commit_sha.txt)"
          echo "::endgroup::"
          echo "::group:: ♻️ Current-Results"
          echo "♻️ pyglotaran-examples commit: $(< comparison-results-current/example_commit_sha.txt)"
          echo "::endgroup::"

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Run result validator
        uses: glotaran/pyglotaran-validation@main
        with:
          validation_name: pyglotaran-examples
